//jumbotron
.home-image {
    background-image: url(../images/home_image_blur.png);
    background-size: cover;
    height: 450px;
    color: $color-text-light;
    text-align: center;

    .tron-text{
        margin-top: 4em;
        
        .intro-text{
            font-family: $stack-alexBrushRegular;
        }
    }
}

//bio-splash section
#bio-splash{
    text-align: center;
    margin: 1em 4em 2em 4em;

    #hr-top{
        border-width: 3px;
    }
    #hr-bottom{
        border-width: 3px;
    }
}


//home-page cards
.port-cards {
    background-color: $color-border-light;
    padding: 0.5em 2.5em 0.5em 2.5em; 

    .card-deck{

        .card{
            background-color: rgba($color-text-light, .5);
            border: solid 1px $color-border-dark;

            .card-block{

                .card-title{
                    font-family: $stack-muktaVaaniSemiBold;
                }

                .card-text{
                    font-family: $stack-muktaVaaniLight;
                    font-size: 13px;
                }
            }
        }
    }
}

.film-img{
    border-radius: 50%;
    background-image: url("../images/home_image_perspective.png");
    background-size: cover;
    border: 3px solid $color-border-dark;
    height: 130px;
    margin: 1.75em 3.5em 0.0em 3.5em;
}

.stage-img{
    border-radius: 50%;
    background-image: url("../images/home_image_perspective.png");
    background-size: cover;
    border: 3px solid $color-border-dark;
    height: 130px;
    margin: 1.75em 3.5em 0.0em 3.5em;
}
.beauty-img{
    border-radius: 50%;
    background-image: url("../images/home_image_perspective.png");
    background-size: cover;
    border: 3px solid $color-border-dark;
    height: 130px;
    margin: 1.75em 3.5em 0.0em 3.5em;
}
.bio-img{
    border-radius: 50%;
    background-image: url("../images/home_image_perspective.png");
    background-size: cover;
    border: 3px solid $color-border-dark;
    height: 130px;
    margin: 1.75em 3.5em 0.0em 3.5em;
}

