#footer-main{
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    background-color: $black;
    color: $color-text-light;
    bottom: 0;
    left: 0;
    right: 0;
}
// @media (min-width: 480px) and (max-width: 768px){
//     #footer-main{
//         margin-top: 0.25em;
//     }
// }