// FONT STACKS //
$stack-sans-serif: sans-serif;
$stack-script: "Brush Script MT", cursive;
$stack-alexBrushRegular: "AlexBrush-Regular", $stack-script;

// Asset paths

$path-img  : '../img';
$path-font : '../fonts';